.project_card {
    padding: 1em;
    border: solid 1px #7A7A7A;
    border-radius: 5px;
    width: 24%;
    margin: 0.5%;
}

.project_card h4 {
    background-color: #222;
    color: #FFBB33;
    padding: .4em;
    margin-bottom: 1.3em;
    font-size: 1.3em;
    border-radius: 5px;
    text-align: center;
}

.project_card p {
    margin-bottom: 1em;
    color: #222;
}

.project_card p span {
    font-weight: bold;
}

.category_text {
    display: flex;
    align-items: center;
}

.category_text span {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 8px;
    border: 1px solid #7A7A7A;
    background-color: #ccc;
}

.category_text .infraestrutura {
  background-color: #FFAEBC;
}

.category_text .desenvolvimento {
    background-color: #A0E7E5;
}

.category_text .design{
    background-color: #b4f8c8;
}

.category_text .planejamento{
    background-color: #fbe76c;
}

.project_card_actions {
    margin-top: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.project_card_actions a,
.project_card_actions button {
    padding: .6em 1.6em;
    background-color: #fff;
    color: #222;
    text-decoration: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: .5s;
}

.project_card_actions svg {
    margin-right: .5em;
}

.project_card_actions a:hover,
.project_card_actions button:hover {
    background-color: #222;
    color:#FFBB33 ;
}