.container{
    margin: 2em ;
}

.container h2 {
    margin-bottom: 1.5em;
}

.container h3 {
    margin-bottom: .8em;
}

.container h4 {
    margin-bottom: .5em;
}

.container p {
    margin-bottom: .8em;
}

.container svg {
    font-size: 1.4em;
    margin-left: 5px;
    cursor: pointer;
}